[access]
	inheritFrom = LizardIRC
[project]
	description = A new network operations bot for LizardIRC, written in Java and based off of Beancounter, to replace the old NOC-Bot written in PHP.
[access "refs/*"]
	owner = group LizardIRC Admins
	read = group Anonymous Users
	read = group Registered Users
